@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body, html{
	margin: 0;
	height: 100vh;
	
	background-color: #191919;
	
	font-family: 'Merriweather', serif;
	color: #ECDBBA;
}

#page-wrapper{
	margin: 0 auto;
	padding:30px 15px 30px 15px;
	
	
	width: 960px;
	min-height: 95vh ;
	background-color: #2D4263;
	
}

#footer{
	
	bottom: 0;
	
	padding-top: 1em;
	padding-bottom: 2em;
	
	height: 5vh;
	width:100%;
	min-width: 960px;
	text-align: center;

}

.navbar-container{
	display: flex;
	
	
	
	top: 0;
	margin: 0 auto;
	
	height: 4rem;
	max-width: 960px;
}

.navbar-container > a {
	flex-grow: 1;
	
	padding-top: 1em;
	
	text-align: center;
}

.navbar-container > a:hover {
	background-color: #333;
}

.content{
	display: grid;
	
	grid-template-columns: repeat(6,1fr);
	grid-template-rows: repeat(2, 1fr);
}
.imagec{
	border: 2px solid black;
	border-radius: 3px;
	padding: 5px;
	background-color: black;
	box-shadow: 0 0 5px ;
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start: 1;
	grid-row-end: 3;
}