@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body, html{
	margin: 0;
	height: 100vh;
	
	background-color: #191919;
	
	font-family: 'Merriweather', serif;
	color: #ECDBBA;
}

#page-wrapper{
	margin: 0 auto;
	padding:30px 15px 30px 15px;
	
	
	width: 960px;
	min-height: 95vh ;
	background-color: #2D4263;
	
}

#footer{
	position: absolute;
	bottom: 0;
	
	padding-top: 1em;
	padding-bottom: 2em;
	
	height: 5vh;
	width:100%;
	min-width: 960px;
	text-align: center;

}

.navbar-container{
	display: flex;
	
	
	position: sticky;
	top: 0;
	margin: 0 auto;
	
	
	height: 4rem;
	max-width: 960px;
}

.navbar-container > a {
	flex-grow: 1;
	
	padding-top: 1em;
	
	text-align: center;
}

.navbar-container > a:hover {
	background-color: #333;
}